.config/colors/colors.json
.config/colors/colors.sh
.config/nvim/lua/user/colors.lua

# Codesniffer.conf
# TODO move file somewhere else
.composer/vendor/*
!.composer/vendor/squizlabs
.composer/vendor/squizlabs/*
!.composer/vendor/squizlabs/php_codesniffer
.composer/vendor/squizlabs/php_codesniffer/*
!.composer/vendor/squizlabs/php_codesniffer/CodeSniffer.conf
